<div class="modal fade" id="icon_modal" tabindex="-1" role="dialog" aria-labelledby="select_icon" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="select_icon">アイコン選択</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <!-- アイコンリストの HTML を書く -->
        <table class="table table-striped table-bordered">
          <tr>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/lions1.jpg"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/buffaloes1.png"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/eagles1.png"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/fighters1.jpg"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/hawks1.png"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/marines1.jpg"></td>
          </tr>
          <tr>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/lions2.png"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/buffaloes2.jpg"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/eagles2.png"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/fighters2.png"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/hawks2.png"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/marines2.jpg"></td>
          </tr>
          <tr>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/lions3.gif"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/buffaloes3.jpg"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/eagles3.jpg"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/fighters3.jpg"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/hawks3.jpg"></td>
            <td><img width="80" (click)="setIcon($event)" data-dismiss="modal" src="../assets/icons/marines3.jpg"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
