<header class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/"><img height="32" src="../assets/icons/brand_icon.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーション切り替え">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/ranking">ランキング</a>
      <a class="nav-item nav-link" routerLink="/record">記録室</a>
      <a class="nav-item nav-link" routerLink="/help">遊び方</a>
      <a class="nav-item nav-link" routerLink="/link">リンク</a>
      <a class="nav-item nav-link disabled" href="#">工事中</a>
    </div>
  </div>
</header>

<main class="py-4" id="pageTop">
  <router-outlet></router-outlet>
</main>

<footer class="py-4 bg-dark text-light">
  <div class="container text-center">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" fragment="pageTop" target="_self">Top</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/news" fragment="pageTop">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" fragment="pageTop">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/help" fragment="pageTop">Help</a>
      </li>
    </ul>
    <p><small>Copyright &copy; {{year}} Heppoko Kyoro, All Rights Reserved.</small></p>
  </div>
</footer>
