<div id="login_form">
  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <div class="form-row">
      <div class="form-group">
        <div *ngIf="errorMessage !== ''">
          <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="username">監督名</label>
        <input type="text" id="username" class="form-control" name="username"
               [formControl]="username" required minlength maxlength>
      </div>
      <div class="form-group col-md-3">
        <label for="password">パスワード</label>
        <input type="password" id="password" class="form-control" name="password"
               [formControl]="password" required minlength>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <button type="submit" id="sign_in" class="btn btn-info mr-2" [disabled]="loginForm.invalid">ログイン</button>
        <a class="btn btn-success mr-2" routerLink="/add_team" role="button">新規</a>
      </div>
    </div>
  </form>
</div>
