<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">劇空間へっぽこリーグ！</h1>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-sm-6 text-center">
      <app-gekipawa-info></app-gekipawa-info>
    </div>
    <div class="col-sm-6">
      <app-auth></app-auth>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 table-responsive">
      <app-team-rank></app-team-rank>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <div class="row" id="champ_and_history">
    <div class="col-md-6">
      <app-now-champion></app-now-champion>
    </div>
    <div class="col-md-6">
      <app-recent-game></app-recent-game>
    </div>
  </div>
</div>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <app-news-comment></app-news-comment>
    </div>
  </div>
</div>
