<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-4">{{globalConfig.site_title}}</h1>
    </div>
  </div>
</div>

<form [formGroup]="startGameForm" (ngSubmit)="confirmGame()" novalidate>

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{teamInfo?.name}} &nbsp; {{teamInfo?.rank}}位</h2>
        <div id="last_game_date">
          [ 最終更新日時 - {{teamInfo?.updated | date: 'y-MM-dd H:mm:ss'}} ]
        </div>
        <div *ngIf="startGameForm.dirty && (startGameForm.invalid)">
          <div class="alert alert-danger" role="alert">
            Error: 不正なデータがあります{{startGameForm.errors}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-4" id="team_data">
    <div class="row">
      <div class="col-md-4 text-center">
        <div id="team_icon" class="mb-4">
          <img *ngIf="teamInfo" src="/assets/icons/{{teamInfo?.icon}}" width="80" alt="team_icon">
          <span>監督： {{teamInfo?.owner.name}}</span>
        </div>
        <div id="team_types">
          <div>チームの重視するタイプ（1〜10）</div>
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th>守備 / 攻撃</th>
              <th>バント</th>
              <th>盗塁</th>
              <th>直感 / 論理</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="text-md-center">
                <select name="team_type_attack" formControlName="typeAttack" required>
                  <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                          [value]="i" [selected]="i == typeAttack.value">{{i}}</option>
                </select>
              </td>
              <td class="text-md-center">
                <select name="team_type_bunt" formControlName="typeBunt" required>
                  <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                          [value]="i" [selected]="i == typeBunt.value">{{i}}</option>
                </select>
              </td>
              <td class="text-md-center">
                <select name="team_type_steal" formControlName="typeSteal" required>
                  <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                          [value]="i" [selected]="i == typeSteal.value">{{i}}</option>
                </select>
              </td>
              <td class="text-md-center">
                <select name="team_type_mind" formControlName="typeMind" required>
                  <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                          [value]="i" [selected]="i == typeMind.value">{{i}}</option>
                </select>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div id="recently_game">
          <table class="table table-sm table-striped table-bordered">
            <thead>
            <tr>
              <th colspan="4">最近5試合の結果</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let hist of teamInfo?.gameHistory">
              <td>{{hist.time | date: 'y-MM-dd H:mm:ss'}}</td>
              <td *ngIf="hist.topScore > hist.bottomScore">◯</td>
              <td *ngIf="hist.topScore < hist.bottomScore">●</td>
              <td>{{hist.topScore}} - {{hist.bottomScore}}</td>
              <td>{{hist.bottomTeam}}</td>
            </tr>
            <tr *ngFor="let i of [].constructor(5 - teamInfo?.gameHistory.length)">
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <div id="team_current_data">
          <table class="table table-sm table-bordered">
            <thead>
            <tr>
              <th>試合</th>
              <th>勝率</th>
              <th>勝ち</th>
              <th>負け</th>
              <th>貯金</th>
              <th>連勝</th>
              <th>残り試合</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{teamInfo?.game}}</td>
              <td>{{teamInfo?.winAve}}</td>
              <td>{{teamInfo?.win}}</td>
              <td>{{teamInfo?.lose}}</td>
              <td>{{teamInfo?.save}}</td>
              <td>{{teamInfo?.winContinue}}</td>
              <td>{{teamInfo?.restGame}}</td>
            </tr>
            </tbody>
            <thead>
            <tr>
              <th>打率</th>
              <th>防率</th>
              <th>得率</th>
              <th>HR</th>
              <th>盗塁</th>
              <th>奪三</th>
              <th>失策</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{teamInfo?.batAve}}</td>
              <td>{{teamInfo?.defAve}}</td>
              <td>{{teamInfo?.scoreAve}}</td>
              <td>{{teamInfo?.hr}}</td>
              <td>{{teamInfo?.steal}}</td>
              <td>{{teamInfo?.strikeOut}}</td>
              <td>{{teamInfo?.error}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-4" id="player_table">
    <div class="row">
      <div class="col-md-12 text-center">
        <table class="table table-sm table-hover table-striped table-bordered table-responsive-sm">
          <thead>
          <tr>
            <th>打順</th>
            <th>守備</th>
            <th>名前</th>
            <th>調子</th>
            <th>パワー</th>
            <th>ミート</th>
            <th>走力</th>
            <th>守備</th>
            <th>小計</th>
            <th>打率</th>
            <th>本塁</th>
            <th>打点</th>
            <th>四球</th>
            <th>三振</th>
            <th>犠打</th>
            <th>犠飛</th>
            <th>盗塁</th>
            <th>失策</th>
          </tr>
          </thead>
          <tbody formArrayName="playerOrderArray">
          <tr *ngFor="let player of teamInfo?.players; index as i" [formGroupName]="i">
            <td>
              <select name="player_order{{i + 1}}" formControlName="playerOrder">
                <option *ngFor="let order of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
                        [value]="order" [selected]="order == player.order">{{order}}</option>
              </select>
            </td>
            <td>{{player.position}}</td>
            <td>{{player.name}}</td>
            <td>{{player.condition}}</td>
            <td>{{player.power}}</td>
            <td>{{player.meet}}</td>
            <td>{{player.run}}</td>
            <td>{{player.defense}}</td>
            <td>{{player.power + player.meet + player.run + player.defense}}</td>
            <td>{{player.ave}}</td>
            <td>{{player.hr}}</td>
            <td>{{player.batScore}}</td>
            <td>{{player.fourBall}}</td>
            <td>{{player.strikeOut}}</td>
            <td>{{player.bunt}}</td>
            <td>{{player.sacrificeFly}}</td>
            <td>{{player.steal}}</td>
            <td>{{player.error}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container-fluid py-2" id="pitcher_table">
    <div class="row">
      <div class="col-md-12 text-center">
        <table class="table table-sm table-hover table-striped table-bordered table-responsive-sm">
          <thead>
          <tr>
            <th>打順</th>
            <th>守備</th>
            <th>名前</th>
            <th>調子</th>
            <th>速球</th>
            <th>変化</th>
            <th>制球</th>
            <th>守備</th>
            <th>小計</th>
            <th>防率</th>
            <th>勝ち</th>
            <th>負け</th>
            <th>奪三</th>
            <th>四球</th>
            <th>被本</th>
            <th>失点</th>
            <th>自責</th>
            <th>暴投</th>
          </tr>
          </thead>
          <tbody formArrayName="pitcherOrderArray">
          <tr *ngFor="let pitcher of teamInfo?.pitchers; index as j" [formGroupName]="j">
            <td *ngIf="j < 4">
              <select name="player_order{{pitcher.order}}" formControlName="pitcherOrder">
                <option *ngFor="let order of [13, 14, 15, 16]"
                        [value]="order" [selected]="order == pitcher.order">{{order}}</option>
              </select>
            </td>
            <td *ngIf="j >= 4">
              {{pitcher.order}}
              <input name="player_order{{pitcher.order}}" formControlName="pitcherOrder"
                     [value]="pitcher.order" type="hidden">
            </td>
            <td>投</td>
            <td>{{pitcher.name}}</td>
            <td>{{pitcher.condition}}</td>
            <td>{{pitcher.speed}}</td>
            <td>{{pitcher.change}}</td>
            <td>{{pitcher.control}}</td>
            <td>{{pitcher.defense}}</td>
            <td>{{pitcher.speed + pitcher.change + pitcher.control + pitcher.defense}}</td>
            <td>{{pitcher.loseScoreAve}}</td>
            <td>{{pitcher.win}}</td>
            <td>{{pitcher.lose}}</td>
            <td>{{pitcher.strikeOut}}</td>
            <td>{{pitcher.fourBall}}</td>
            <td>{{pitcher.hr}}</td>
            <td>{{pitcher.lossScore}}</td>
            <td>{{pitcher.selfLossScore}}</td>
            <td>{{pitcher.wildPitch}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="form-group">
          <button type="submit" id="confirm_playball" class="btn btn-primary mr-2" [disabled]="startGameForm.invalid || waitMinutes || teamInfo?.restGame < 1">試合開始</button>
          <button type="button" id="camp_in" class="btn btn-info mr-2" (click)="goCamp()" [disabled]="teamInfo?.campTimes >= teamConfig.limit_camp">キャンプイン</button>
          <button type="button" id="delete_team" class="btn btn-danger mr-2" (click)="deleteTeam()">チームの削除</button>
        </div>
        <div *ngIf="teamInfo?.restGame < 1">
          1回のリーグは {{globalConfig.max_game}} 試合までです。次のリーグが始まるまでお待ちください。
        </div>
        <div *ngIf="waitMinutes">
          次の試合まであと {{waitMinutes}} 分お待ちください。
        </div>
      </div>
    </div>
  </div>

</form>
